.container {
  padding-left: 40px;
  padding-right: 40px;
  min-width: $desktop-width;

  @media (max-width: 1440px) {
    max-width: 1440px;
    min-width: 769px;
  }

  @media (max-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
    max-width: $tablet-width;
    min-width: 426px;
  }

  @media (max-width: $mobile-width-only) {
    padding-left: 20px;
    padding-right: 20px;
    max-width: $mobile-width-only;
    min-width: 320px;
  }
}
