.contacts {
  display: grid;
  grid-template-columns: 262px 151px 161px 129px 112px;
  gap: 147px;

  @media (max-width: 1440px) {
    display: flex;
    gap: 0;
    justify-content: space-between;
  }
}

.contacts__title {
  margin: 0;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.07em;
  margin-bottom: 32px;
  text-transform: uppercase;

  @media (max-width: $mobile-width-only) {
    text-align: left;
  }
}

.contacts__list {
  @include reset;
}

.contacts__item:not(:first-child) {
  margin-top: 11px;
}

.contacts__item.contacts__item--main {
  margin-top: 7px;
  padding-left: 0;

  @media (max-width: $mobile-width-only) {
    text-align: left;
  }
}

.contacts__link {
  text-decoration: none;
  color: inherit;
  padding-left: 15px;
  position: relative;

  &--main {
    padding-left: 1px;
  }
}

.contacts__link--info::before {
  @include pseudo;
  background-image: url("../../icons/stack.svg#pagination-arrow");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 6px 10px;
  width: 6px;
  height: 10px;
  top: 25%;
  left: 0;
}

.contacts__link--social-media {
  padding-left: 29px;

  &::before {
    @include pseudo;
    background-repeat: no-repeat;
    width: 15px;
    height: 20px;
    top: 0;
    left: 0;
  }
}

.contacts__link--facebook::before {
  background-image: url("../../icons/stack.svg#footer-facebook-icon");
}

.contacts__link--twitter::before {
  background-image: url("../../icons/stack.svg#footer-twitter-icon");
}

.contacts__link--instagram::before {
  background-image: url("../../icons/stack.svg#footer-instagram-icon");
}

.contacts__link--pinterest::before {
  background-image: url("../../icons/stack.svg#footer-pinterest-icon");
}

.contacts__link--youtube::before {
  background-image: url("../../icons/stack.svg#footer-youtube-icon");
}

.contacts__svg-icon {
  display: inline-block;
  position: relative;
  left: 9px;
}

.contacts__text {
  padding-left: 12px;
}

.contacts__wrapper {
  display: none;

  @media (max-width: $mobile-width-only) {
    display: block;
    padding: 55px 76px 100% 42px;
  }
}
