.footer-container {
  @media (max-width: $mobile-width-only) {
    padding: 0;
  }
}

.footer__navigation-wrapper {
  border-bottom: solid 1px $extra-background;
  padding-bottom: 78px;

  @media (max-width: $mobile-width-only) {
    padding: 0 20px 45px;
  }
}

.footer__info {
  padding-top: 23px;
  padding-bottom: 23px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: 1440px) {
    gap: 0;
    align-items: center;
  }

  @media (max-width: $mobile-width-only) {
    flex-direction: column;
    gap: 15px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.footer__copyright-text {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  padding-top: 5px;
}

.footer__copyright-link {
  text-decoration: none;
  color: $secondary-color;
}

.footer__logo {
  display: inline-block;
  text-decoration: none;
  margin-right: 84px;

  @media (max-width: 1440px) {
    margin-right: 0;
  }
}
