.header {
  margin-bottom: 20px;

  @media (max-width: $mobile-width-only) {
    margin-bottom: 0;
  }

  .header__container {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .header__container--mobile {
    @media (max-width: $mobile-width-only) {
      position: relative;
      padding: 0;
    }
  }
}

.header__logo {
  display: block;
  text-decoration: none;
  width: 200px;

  @media (max-width: $mobile-width-only) {
    @include transform;
    margin: 0;
    display: inline-block;
    width: auto;
    position: absolute;
  }
}

.header__logo--mobile {
  position: static;
  transform: none;

  @media (min-width: $mobile-width-only + 1px) {
    display: none;
  }
}

.header-mobile__contacts-wrapper {
  display: none;

  @media (max-width: $mobile-width-only) {
    display: block;
    padding: 55px 25px 25px 42px;
  }
}

.header-mobile__menu-wrapper {
  @media (max-width: $mobile-width-only) {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 42px;
    justify-content: space-between;
    width: 100%;
    padding: 30px 40px 33px 21px;
    border-bottom: 1px solid $extra-background;
  }
}

.header-mobile__burger {
  cursor: pointer;
  background-color: $basic-background;
  background-position: 50%;
  background-repeat: no-repeat;
  border: none;
  padding: 0;
  background-image: url("../../icons/stack.svg#hamburger-button");
  background-size: 18px 14px;
  width: 18px;
  height: 14px;

  @media (min-width: $mobile-width-only + 1px) {
    display: none;
  }
}

.header-mobile__burger--close {
  background-image: url("../../icons/stack.svg#close-button");
  background-size: 10px 10px;
  width: 10px;
  height: 10px;
}

.header-mobile__list {
  @include reset;
}

.header-mobile__logo {
  display: inline-block;
  text-decoration: none;
}

.header__mobile-menu {
  @media (max-width: 1110px) {
    width: 100%;
    order: 2;
  }

  @media (max-width: $mobile-width-only) {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $basic-background;
    max-width: 380px;
    z-index: z("mobile-menu");
    height: 100vh;
  }
}

.header__mobile-menu-top {
  @media (max-width: $mobile-width-only) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 34px 24px 43px;
    border-bottom: 1px solid #dbe2e5;
  }
}

.header__mobile-menu-bottom {
  @media (max-width: $mobile-width-only) {
    height: calc(100vh - 84px);
    overflow-y: auto;
  }
}

.header-mobile__contacts-title {
  @media (max-width: $mobile-width-only) {
    text-align: left;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    letter-spacing: 0.07em;
    margin-bottom: 32px;
    text-transform: uppercase;
  }
}

.header-mobile__contacts-list {
  @include reset;
}

.header-mobile__contacts-item:not(:first-child) {
  margin-top: 11px;
}

.header-mobile__contacts-item {
  @media (max-width: $mobile-width-only) {
    text-align: left;
  }
}

.header-mobile__contacts-item.header-mobile__contacts-item--main {
  @media (max-width: $mobile-width-only) {
    margin-top: 7px;
    padding-left: 0;
  }
}

.header-mobile__contacts-link {
  text-decoration: none;
  color: inherit;
  padding-left: 15px;
  position: relative;

  &--main {
    padding-left: 1px;
  }
}

.header-mobile__contacts-svg-icon {
  display: inline-block;
  position: relative;
  left: 9px;
}

.header-mobile__contacts-text {
  padding-left: 12px;
}
