.overlay {
  background: #1c1d1d;
  opacity: 0.4;
  position: absolute;
  inset: 0;
  z-index: z("cart-overlay");
}

.overlay--closed {
  display: none;
}

.overlay--modal:not(.overlay--closed) {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.overlay--opened {
  display: block;
}

.overlay--menu:not(.overlay--closed) {
  @media (max-width: $mobile-width-only) {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
  }
}
