.pagination {
  @include reset;
  display: flex;
  flex-wrap: wrap;
  gap: 29px;
  // max-width: 173px;
  // margin: 0 auto;
  justify-content: center;
}

.pagination__item {
  position: relative;
  display: block;
}

.pagination__item:not(:last-child)::after {
  @include pseudo;
  width: 5px;
  height: 12px;
  background-image: url("../../icons/stack.svg#pagination-arrow");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 10px;
  right: -17px;
}

.pagination__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: $secondary-color;
  display: inline-block;

  &--active {
    color: #808385;
  }
}
