.pagination {
  @include reset;
  display: flex;
  flex-wrap: wrap;
  gap: 29px;
  justify-content: center;
}

.pagination__item {
  position: relative;
  display: block;
}

.pagination__item:not(:last-child)::after {
  @include pseudo;
  width: 5px;
  height: 12px;
  background-image: url("../../icons/stack.svg#pagination-arrow");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 10px;
  right: -17px;
}

.pagination__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: $secondary-color;
  display: inline-block;
  transition: opacity 0.5s ease-in-out;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  &--active {
    color: #808385;

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 1;
    }
  }
}
