.slider {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  margin-bottom: 94px;
  position: relative;
}

.slider__list {
  @include reset;
  display: flex;
  animation: slideIn 30s infinite linear;
}

@keyframes slideIn {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.slider__img {
  display: block;

  @media (max-width: $tablet-width) {
    width: 220px;
    height: 220px;
  }
}

.slider__link {
  @include transform;
  text-decoration: none;
  position: absolute;
  z-index: 2;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 283px;
  height: 49px;
  background-color: $basic-background;
}

.slider__text {
  color: $secondary-color;
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.slider__brand {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding: 0;
}
