.slider {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
}

.slider__list {
  @include reset;
  display: flex;
  animation: slideIn 10s infinite linear;
}

@keyframes slideIn {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
