.slider {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  margin-bottom: 95px;
}

.slider__list {
  @include reset;
  display: flex;
  animation: slideIn 30s infinite linear;
}

@keyframes slideIn {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.slider__img {
  display: block;
}
