h1 {
  color: #333333;
}

#filters {
  margin-bottom: 20px;
}

select {
  padding: 5px;
  font-size: 16px;
}

.hero-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.hero-table th,
.hero-table td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

.hero-table th {
  background-color: #f2f2f2;
  position: sticky;
  top: 0;
}

.hero-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.hero-table tr:hover {
  background-color: #f1f1f1;
}

.hero-table th:nth-child(5):hover {
  color: #00ced1;
  background-color: #f0f0f0;
  text-decoration: underline;
}

.hero-table th:nth-child(6):hover {
  color: #9370db;
  background-color: #f0f0f0;
  text-decoration: underline;
}
