.total {
  width: 430px;
  padding: 23px 20px 35px 18px;
  border: 1px solid $extra-background;
  border-radius: 4px;
  // margin-right: 94px;
  flex-grow: 2;

  @media (max-width: 1440px) {
    width: 27.2%;
    // margin-right: 23px;
    flex-grow: 1;
    // margin-bottom: 20px;
    min-width: 300px;
  }

  // @media (max-width: 675px) {
  //   margin-right: 0;
  // }
}

.total__list {
  @include reset;
  margin-bottom: 21px;
}

.total__item {
  @include flex-between;
  font-size: 14px;
  line-height: 21px;

  &:not(:last-child) {
    padding-bottom: 7px;
    border-bottom: 1px solid $extra-background;
    margin-bottom: 8px;
  }
}

.total__button {
  width: 100%;
  background-color: $secondary-color;
  color: $basic-background;
  border-radius: 4px;
}

.total__name {
  margin: 0;
  margin-right: 10px;
}

.total__value {
  margin: 0;
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
  margin-left: 10px;
  text-align: right;
}
