.user-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 23px;
  margin-right: 19px;

  @media (max-width: $mobile-width-only) {
    display: flex;
    gap: 5px;
    margin-right: 17px;
    margin-left: auto;
  }
}

.user-list__link {
  text-decoration: none;
  width: 28px;
  height: 28px;
  display: block;
  position: relative;
}

.user-list__icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.user-list__number {
  font-size: 16px;
  line-height: 24px;
  color: $basic-background;
  border-radius: 50%;
  background-color: $secondary-color;
  padding: 1px 8px;
  display: inline-block;
  position: absolute;
  top: -16px;
  right: -21px;

  @media (max-width: $mobile-width-only) {
    padding: 0;
    width: 24px;
    height: 24px;
  }
}
